<div class="page container">
  <!-- <app-header></app-header> -->

  <div class="admin-content">
    <ngb-tabset>
      <ngb-tab *ngIf="account">
        <ng-template ngbTabTitle>
          <span class="tab-title" i18n="@@Groups">Groups</span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-admin-group [account]="account"></app-admin-group>
        </ng-template>
      </ngb-tab>
      <ngb-tab *ngIf="account">
        <ng-template ngbTabTitle>
          <span class="tab-title" i18n="@@Events">Events</span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-admin-event [account]="account"></app-admin-event>
        </ng-template>
      </ngb-tab>

      <ngb-tab *ngIf="account && account.type === 'super'">
        <ng-template ngbTabTitle>
          <span class="tab-title" i18n="@@Users">Users</span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-admin-user [account]="account"></app-admin-user>
        </ng-template>
      </ngb-tab>

      <ngb-tab *ngIf="account && (account.type === 'super' || account.type === 'organizer')">
        <ng-template ngbTabTitle>
          <span class="tab-title" i18n="@@Categories">Categories</span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-admin-category [account]="account"></app-admin-category>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>
  </div>

  <!-- <app-footer></app-footer> -->
</div>