<!-- [ngStyle]="{'height.px':c.h}" -->
<div class="event-item" *ngFor="let ev of events; let i = index;" (click)="toDetail(ev)">
	<div class="head">
		<p>
      <img [src]="getOwnerPortrait(ev)" alt="{{ev.name}}">
    </p>
    <h4>
      <div class="title-xs">{{ev.name}}</div>
    </h4>
	</div>
	<div class="body">
    <div *ngIf="ev.fromDateTime" class="text-xs">
        <img src="/assets/svg/clock.svg">
        {{getDisplayDateTimeRange(ev)}}
    </div>
    <div *ngIf="ev.addressId" class="text-xs">
        <img src="/assets/svg/map-marker.svg">
        {{ev.address?.formattedAddress}}
    </div>
    <div class="text-sm">{{ev.description}}</div>

    <div class="row participants-row">
      <div class="participants">
        <div *ngFor="let p of ev.participants" class="participant">
          <span class="portrait-frame" *ngIf="p.status === 'joined'">
            <img class="portrait" [src]="getPaticipantPortrait(p)">
          </span>
        </div>
      </div>
      <div class="text-sm num-going">
        {{getNumOfGoing(ev)}}&nbsp;<span i18n="@@PeopleAreGoing">people are going</span>
      </div>
    </div>
    
	</div>

</div>

