.event-list{
  padding: 0px;

  .list-group{
    height: 360px;
    overflow: scroll;
  }

  img{
    width:12px;
  }
}



$primary-color:#003e7e;

.event-item{
	position: relative;
  float: left;
  margin-top: 30px;
  margin-right: 10px;
  padding: 0 15px;
  border-radius: 0px;
  width: 334px;
  min-height: 200px;
  background-color: #fff;
  border: 1px solid #eee;
  // box-shadow: 4px 4px 10px #e6e6e6;

  .expand-text, .collapse-text{
    color:$primary-color;
    padding-bottom:10px;
    height:25px;
    line-height:20px;
  }

  .head{
    width:100%;
    height:40px;
    border-bottom: 1px solid #ececec;
      
    p {
      position: absolute;
      left: 10px;
      top: -12px;
      border: 4px solid #fff;
      border-radius: 50%;
      width: 48px;
      height: 48px;

      img{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        font-size:12px;
      }
    }

    h4{
      width:180px;
      padding-left:5px;
      padding-top:8px;
      height: 40px;
      float: right;
      font-size: 18px;
    }
  }

	.body{
		height:100px;
		padding:10px 0px;
  }

  .btn-holder{
    padding-top:0px;

    .btn-xs{
      width: 80px;
      padding: 0px;
      float: right;
      margin-bottom: 5px;
    }
  }

  span.portrait-frame{
    height: 26px;
    width: 26px;
    -webkit-box-align: stretch;
    align-items: stretch;
    background-color: rgb(255, 255, 255);
    box-sizing: content-box;
    cursor: inherit;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    pointer-events: auto;
    position: static;
    transform: translateZ(0px);
    border-width: 2px; //0px;
    border-style: initial;
    border-color: transparent; //initial;
    border-image: initial;
    border-radius: 50%;
    margin-left: -5px;
    padding: 2px;
    outline: none;
    overflow: hidden;
    transition: background-color 0s ease-out 0s;

    img.portrait{
      background-color: transparent;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }

  .num-going{
    float: left;
    margin-top: 8px;
  }

  .participants{
    float:left;
    padding-right: 12px;

    .participant{
      display: inline-block;
      position: relative;
      outline: 0px;
      // width: 30px;
      // height: 30px;
    }
  }

  .participants-row{
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 767px){
  .event-list{
    .list-group{
      height: 260px;
    }
  }

  .event-item{
    width: 100%;
  }
}