<!-- [ngStyle]="{'height.px':c.h}"-->
<div class="event-item" *ngFor="let event of events; let i = index;" >
	<div class="head">
		<p>
      <img src="{{APP_URL}}/assets/images/portrait.png" alt="{{event.name}}">
    </p>
    <h4>
      <div class="title-xs">{{event.name}}</div>
    </h4>
	</div>
	<div class="body">
		<!-- <div class="text-xs">Teacher: {{c.teacher.username}}</div> -->
          <div *ngIf="event.fromDateTime" class="text-xs">
              <img src="/assets/svg/clock.svg">
              {{getDisplayDateTimeRange(event)}}
          </div>
          <div *ngIf="event.addressId" class="text-xs">
              <img src="/assets/svg/map-marker.svg">
              {{event.address?.formattedAddress}}
          </div>
		<div class="text-sm">{{event.description}}</div>
	</div>
	<!-- <div class="btn-holder">
		<div class="btn btn-xs pull-right">Apply</div>
	</div> -->
</div>