/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import '~ngx-toastr/toastr.css';
$navbar-height:60px;
$label-color:#585858;//#212529

$control-width: 580px;
$control-short-width: 450px;

// Remove google autocomplete label
.pac-container:after{display:none !important;}

.page{
  margin-top:$navbar-height;
  min-height:560px;
  padding:0px;
}

form {
  padding: 10px;

  .field-label{
    width:100%;
    float:left;
  }
  // remove bootstrap focus blue outline
  .form-control:focus {
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  input, select{
    max-width: $control-short-width;
  }

  textarea{
    max-width: $control-width;
    height: 80px !important;
  }
}

.title-xl{
  font-family: "Roboto", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  font-size: 58px;
  font-weight: 300;
  line-height: 64px;
  color: #8dbf41;//#9ca1a8;
  padding: 20px 0px;
}

.title-lg{
  font-family: "Microsoft Yahei", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #7c7c7c;
  padding: 20px 0px; 
}

.title-bg{
  font-family: "Microsoft Yahei", 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  color: #414851;//#8dbf41;
  padding: 10px 0px;
}

.title-md{
  font-family: "Microsoft Yahei",'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #414851;
}

.title-sm{
  font-family: "Microsoft Yahei",'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #414851;
}

.text-xs{
  font-weight: 100;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, sans-serif;
  color:#606060;
}

.text-sm{
  font-weight: 100;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color:#404040;
}

.text-md{
 color:rgb(50,50,50);
 font-family: Roboto, sans-serif;
 font-size:16px;
 font-weight:300; 
}

.text-bg{
font-size:18px;
font-family: Roboto, sans-serif;
color:rgb(34, 34, 34);
}

.text-lg{
 color:#585858;
 font-family: Roboto, sans-serif;
 font-size:24px;
 font-weight:300; 
}

.label-lg{
  font-size:24px;
  color: $label-color;
}

.label-md{
  font-size:16px;
  color: $label-color;
}

.label-sm{
  font-size:12px;
  color: $label-color;
}


.btn-holder{
  padding-top: 20px;
  .btn{
    margin-right: 8px;
  }
}

.link-holder{
  padding: 20px 0px;
}

.list-group{
  .btn-holder{
    padding-top:0px;
  }
}

.list-block{
  padding-top:26px;
}

.uploader{
  margin: 20px 0px 0px 0px;
  width: $control-short-width;
}

// image-upload{
//   width: $control-short-width;
//   border: #d0d0d0 dashed 1px;
  
//   .img-ul{
//     border: none !important;
//   }

//   .img-ul-container{
//     width:33%;
//     float:right;
//   }

//   .img-ul-file-upload{
//     width: 66%;
//     float: right;
//   }

//   .img-ul-image{
//     width: 120px !important;
//     height: 120px !important;
//     margin: 0px !important;
//   }

//   .img-ul-drag-box-msg{
//     font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//     font-size:14px !important;
//     font-weight:400 !important;
//     text-transform: none !important;
//     margin-left:0px !important;
//   }
// }

// .img-ul-button{
//   margin-right: 8px;
//   height:38px;
//   margin-right:8px;
//   padding:6px 12px !important;
//   display: inline-block;
//   font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//   font-size:16px !important;
//   font-weight:400 !important;
//   text-transform: none !important;
//   line-height:24px !important;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: middle;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   border: 1px solid transparent;
//   border-radius: 0.25rem;
//   background-color: #007bff !important;

//   span {
//     font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//     font-size:16px;
//     font-weight:400;
//     line-height:24px;
//   }
// }

.btn{
  max-width: $control-short-width;
}

@media (max-width: 767px){
  form {
    padding:0px;
    .row{
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .btn-holder{
    .btn{
      width: 100%;
      margin-right: 0px;
    }
  }

  .auth-form{
    padding:20px;
  }
}
