
<form class="feedback-form" [formGroup]="form">
    <!-- <div class="row">
        <span class="error-msg">{{errMsg}}</span>
    </div> -->

    <div class="row form-group">
        <div class="field-label label-sm" i18n="@@Username">Your Username or Email</div>
        <input class="form-control" formControlName="sender" name="sender" type="text" required="" />
    </div>
    
    <div class="row form-group">
      <div class="field-label label-sm" i18n="@@Message">Message</div>
      <textarea class="form-control" name="message" formControlName="message"></textarea>
    </div>

    <div class="row btn-holder">
        <button class="btn btn-primary" (click)="sendFeedback()" i18n="@@Login">Send</button>
    </div>
</form>
  