<div class="event-item" *ngIf="event">
    <div class="head">
      <div class="head-text-area">
          <div class="title-xs head-text">{{event.name}}</div>
          <div *ngIf="event.fromDateTime" class="text-xs dt-row">
              <img src="/assets/svg/clock.svg">
              {{getDisplayDateTimeRange(event)}}
          </div>
          <div *ngIf="event.addressId" class="text-xs addr-row">
              <img src="/assets/svg/map-marker.svg">
              {{event.address?.formattedAddress}}
          </div>
      </div>
      <img class="qrcode" [src]="qrcodeUrl" />
    </div>

    <div class="body">
      <div class="text-sm">{{event.description}}</div>
  
      <div class="row participants-row">
        <div class="participants">
          <div *ngFor="let p of event.participants" class="participant">
            <span class="portrait-frame" *ngIf="p.status === 'joined'">
              <img class="portrait" [src]="getPaticipantPortrait(p)" />
            </span>
          </div>
        </div>
        <div class="text-sm num-going">
          {{getNumOfGoing(event)}}&nbsp;<span i18n="@@PeopleAreGoing">people are going</span>
        </div>
      </div>
      <div class="btn-holder" *ngIf="!isPast(event)">
        <div class="btn btn-primary btn-xs pull-right" *ngIf="!joined(event)" (click)="join(event)" i18n="@@Join">Join</div>
        <div class="btn btn-primary btn-xs pull-right" *ngIf="joined(event)" (click)="quit(event)" i18n="@@Cancel">Cancel</div>
      </div>
      <app-comment-form [event]="event" [author]="account" (afterPost)="onAfterPostComment($event)"></app-comment-form>

      <app-comment-list [comments]="comments" [account]="account"></app-comment-list>
    </div>

  </div>
