<div class="admin-event-page">
    <div class="row">
      <div class="col-sm-4 col-xs-12 list-block">
        <app-event-list [events]="events" 
          (select)="onSelect($event)"
          (afterDelete)="onAfterDelete($event)"
          [groupId]="groupId"></app-event-list>
        <div class="btn-holder">
            <div class="btn btn-secondary btn-add" (click)="add()" i18n="@@AddEvent">Add Event</div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-12">
        <app-event-form [event]="event" (afterSave)="onAfterSave($event)"></app-event-form>
      </div>
    </div>
  </div>