<div class="page">
  <div class="row filter-area">
    <!-- <div class="row">
      <div class="input-group search-box">
        <input type="text" [(ngModel)]="keyword" placeholder="{{'SEARCH_BY_KEYWORD'|translate}}" aria-describedby="basic-addon2"
          (keyup)="term$.next($event.target.value)">
        <div class="btn btn-search" (click)="search(keyword)">
          <i class="fa fa-search"></i>{{'SEARCH'|translate}}</div>
      </div>
    </div> -->
  </div>
    
  <div class="row">
    <div class="col-sm-3 col-xs-12 left-col">
        <div class="row event-area">
          <div class="label-md">Recent Events</div>
          <app-event [events]="events"></app-event>
        </div>
        <div class="row feedback-area">
          <app-feedback-form (afterSend)="onAfterSendFeedback($event)"></app-feedback-form>
        </div>
    </div>
    <div class="col-sm-9 col-xs-12 right-col">
      <div class="row category-area">
        <app-category (afterFind)="onAfterFind($event)"></app-category>
      </div>

      <div class="row group-area">
        <app-group [groups]="groups"></app-group>
      </div>
    </div>

  </div>
</div>
  <!-- <div class="filter-area">
      <div class="row">
          <div class="input-group search-box">
            <input type="text" [(ngModel)]="keyword" placeholder="{{'SEARCH_BY_KEYWORD'|translate}}" aria-describedby="basic-addon2" (keyup)="term$.next($event.target.value)">
            <div class="btn btn-search" (click)="search(keyword)"><i class="fa fa-search"></i>{{'SEARCH'|translate}}</div>
          </div>
      </div>
  </div>
  
  
</div> -->