<div class="page">
  <div class="row filter-area">
    <!-- <div class="row">
      <div class="input-group search-box">
        <input type="text" [(ngModel)]="keyword" placeholder="{{'SEARCH_BY_KEYWORD'|translate}}" aria-describedby="basic-addon2"
          (keyup)="term$.next($event.target.value)">
        <div class="btn btn-search" (click)="search(keyword)">
          <i class="fa fa-search"></i>{{'SEARCH'|translate}}</div>
      </div>
    </div> -->
  </div>
  <div class="row">
    <!-- <div class="col-12 label label-sm">Category:</div> -->
    <div class="col-12 category-area">
        <app-category (afterFind)="onAfterFind($event)"></app-category>
    </div>
  </div>
    
  <div class="row">
    <div class="col-sm-9 col-xs-12 group-area">
      <app-group [groups]="groups"></app-group>
    </div>
    <div class="col-sm-3 col-xs-12 event-area">
      <app-event [events]="events"></app-event>
    </div>
  </div>
</div>
  <!-- <div class="filter-area">
      <div class="row">
          <div class="input-group search-box">
            <input type="text" [(ngModel)]="keyword" placeholder="{{'SEARCH_BY_KEYWORD'|translate}}" aria-describedby="basic-addon2" (keyup)="term$.next($event.target.value)">
            <div class="btn btn-search" (click)="search(keyword)"><i class="fa fa-search"></i>{{'SEARCH'|translate}}</div>
          </div>
      </div>
      <div class="row category-area">
          <div class="col-12 label-block label-sm">{{'CATEGORY'|translate}}:</div>
          <div class="category-block">
              <app-category-list></app-category-list>
          </div>
      </div>
  </div>
  
  
</div> -->