<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" (click)="toHome()" i18n='@@Groupal'>Groupal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Groupal">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto" id="nav-left">
      <li class="nav-item">
        <a class="nav-link" (click)="toHome()" i18n='@@Home'>Home</a>
      </li>
      <!-- <li *ngIf="addr" class="navbar-text">
        <span class="text-dark">{{getCurrentCity()}}</span>
        &nbsp;&nbsp;|
      </li>
      <li *ngIf="addr" class="nav-item">
        <a class="nav-link" (click)="changeAddress()">
          <small i18n="@@ChangeDeliveryAddress">Change Address</small>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" (click)="toBusinessCenter()" i18n='@@OrganizerCenter'>Organizer Center</a>
      </li> -->
    <!-- <span *ngIf="isLogin" class="navbar-text">
      Hello, {{user?.username}}
    </span> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
          aria-haspopup="true" aria-expanded="false">
          <span i18n="@@Hello">Hello</span>&nbsp;{{account.username}}
          <i class="fa fa-user-circle fa-lg"></i>
        </a>
      </li> -->
      <li *ngIf="isLogin" class="nav-item">
        <a class="nav-link" (click)="toAdmin()" i18n="@@Admin">Admin</a>
      </li>
      <li *ngIf="!isLogin" class="nav-item">
        <a class="nav-link" (click)="toLogin()" i18n="@@Login">Login</a>
      </li>
      <li *ngIf="!isLogin" class="nav-item">
        <a class="nav-link" (click)="toSignup()" i18n="@@Signup">Signup</a>
      </li>
      <li *ngIf="isLogin" class="nav-item">
        <a class="nav-link" (click)="logout()" i18n="@@Logout">Logout</a>
      </li>
    </ul>
    <div class="icon-area" [ngClass]="{ 'shift-left': !isLogin }">
      <div class="icon-portrait" *ngIf="isLogin">
        <a href="#">
          <img class="image-style" src="{{portrait}}" />
        </a>
      </div>
    </div>
  </div>
</nav>
