<div class="container page page-signup">
	<form class="auth-form" [formGroup]="form" >
		<div class="row">
      <span *ngIf="mode=='user'" class="title-lg" i18n="@@CreateNewAccount">Create New Account</span>
      <span *ngIf="mode=='organizer'" class="title-lg" i18n="@@CreateOrganizerAccount">Create Organizer Account</span>
		</div>
		<!-- <div class="row">
			<span class="error-msg">{{errMsg}}</span>
		</div> -->

    <div class="row form-group">
			<div class="field-label label-sm" i18n="@@Username">Username</div>
			<input class="form-control" formControlName="username" type="text"/>
		</div>

<!-- 		<div class="row user-type">
			<div class="row">
			    <input type="radio" name="user-type" value="user" [(ngModel)]="userType" />
			    <label>Individual User</label>
			</div>
			<div class="row">
			    <input type="radio" name="user-type" value="business" [(ngModel)]="userType" />
			    <label>Business User</label>
			</div>
	    </div> -->

		<div class="row form-group">
			<div class="field-label label-sm" i18n="@@Email">Email</div>
			<input class="form-control" formControlName="email" type="text"/>
    </div>

    <!-- <div class="row form-group">
        <input class="form-control type-checkbox" type="checkbox" formControlName="type" 
        [checked]="isChecked" (change)="onToggleType()">
        <div class="label-sm" i18n="@@IWantToBeOrganizer">I Want to be signup as an organizer</div>
    </div> -->
    
		<div class="row form-group">
			<div class="field-label label-sm" i18n="@@Password">Password</div>
			<input class="form-control" formControlName="password" type="password"/>
		</div>

		<div class="row btn-holder">
			<button class="btn btn-primary" (click)="onSignup()" type="submit" i18n="@@CreateAccount">Create Account</button>
		</div>
	</form>

</div>
